<div class="container row">
    <h1>Guess the artist</h1>
    <div class="col-md-4">
        <img width="300" class="img-responsive img-rounded" ng-src="{{artist.pic}}"/>
    </div>

    <div class="col-md-4">
        <h3>Your answer:</h3>
        <div class="list-group" ng-hide="correct || loading">
            <div ng-repeat="answer in answers">
                <a class="list-group-item {{isAnswerEnabled(answer) ? '' : 'disabled' }}" ng-click="guess(answer)" href="javascript:">
                    {{answer.name | replaceURI}}
                    <br ng-show="answer.url"/><img ng-src="{{answer.url}}" width="100" ng-show="answer.url"/>
                </a>
            </div>
        </div>

        <div ng-show="correct">
            {{artist.name}} was Correct!
            <button ng-click="next()"  class="btn btn-success">Next</button>
        </div>

        <div ng-show="tippPaintArtist">
            PaintArtist
        </div>
        <div ng-show="tippPaintSearch">
            PaintArtist
        </div>


		<div class="row" ng-show="showSearch">
			<form ng-submit="search()" >
				<input tpye="text" class="form-control" ng-model="searchPhrase"/>
				<input type="button" class="form-control btn btn-default" ng-click="search()" value="suchen"/>
			</form>

			<ul>
				<li ng-repeat="res in searchResult">{{res.name}} - {{res.plabel}}</li>
			</ul>
		</div>

    </div>

    <div class="col-md-4">
        <h4>Total points:</h4>
        {{points}}
        <h4>Joker:</h4>
        <div ng-hide="correct || loading">
            <input type="button" ng-click="joker5050()" value="50-50"></input>
            <input type="button" ng-click="jokerArtistsPics()" value="Bilder zu Antworten"></input>
            <input type="button" ng-click="jokerSearch()" value="Suchfunktion"></input>
            <span ng-show="message" style="display:block;background:red;color:#fff;font-weight:bold; padding:5px; border:1px solid #000;"> {{message}} </span>
        </div>
    </div>
</div>
