<div class="container row">
    <h1>Guess the artist</h1>

    <div class="col-md-4">
        <div class="windows8" ng-show="loading">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall">
                </div>
            </div>
        </div>

        <img ng-hide="loading" width="300" class="img-responsive img-rounded" ng-src="{{artist.pic}}"/>
    </div>

    <div class="col-md-4">
        <h3>Your answer:</h3>
        <div class="list-group" ng-hide="correct || loading">
            <div ng-repeat="answer in answers">
                <a class="list-group-item" ng-click="guess(answer)" href="javascript:">{{answer.name | replaceURI}}</a>
                <img ng-src="{{answer.url}}" width="200" ng-show="answer.url"/>
            </div>
        </div>

        <div ng-show="correct">
            Correct!
            <button ng-click="next()"  class="btn btn-success">Next</button>
        </div>

        <div ng-show="tippPaintArtist">
            PaintArtist
        </div>
        <div ng-show="tippPaintSearch">
            PaintArtist
        </div>


		<div class="row">
			<form ng-submit="search()">
				<input tpye="text" class="form-control" ng-model="searchPhrase"/>
				<input type="button" class="form-control btn btn-default" ng-click="search()" value="suchen"/>
			</form>

			<ul>
				<li ng-repeat="res in searchResult">{{res.name}} - {{res.plabel}}</li>
			</ul>
		</div>

    </div>

    <div class="col-md-4">
        Total points:
        <h4>{{points}}</h4>
        Joker:
        <input type="button" ng-click="joker5050" value="50-50"></input>
        <input type="button" ng-click="jokerArtistsPics()" value="Bilder zu Antworten"></input>
        <input type="button" ng-click="jokerSearch" value="Suchfunktion"></input>

    </div>

</div>
