<div class="container row">
    <h1>Scheduling simulator</h1>

    <textarea class="form-control" ng-model="table" rows="10"></textarea>

    <h4>Sorted by RMS priority</h4>
    <table class="table table-bordered">
        <tr>
            <th>Thread</th>
            <th>Period T</th>
            <th>Compution C</th>
            <th>Priority P</th>
            <th>Utilization</th>
        </tr>
        <tr ng-repeat="thread in threads">
            <td>{{thread.name}}</td>
            <td>{{thread.T}}</td>
            <td>{{thread.C}}</td>
            <td>{{thread.P}}</td>
            <td>{{thread.utilization*100 | number:0}}%</td>
        </tr>
    </table>
    <label ng-class="{'label-danger': utilization>maxUtilization, 'label-success': utilization<=maxUtilization}">Utilization: {{utilization | number:3}} &#8804; max {{maxUtilization | number:3}}</label>

    <h4>RMS Table with LCM = {{LCM}}</h4>
    <table class="table table-bordered">
        <tr ng-repeat="thread in threads">
            <td>{{thread.name}}</td>
            <td ng-repeat="i in getNumber(LCM) track by $index"><span ng-show="isThreadRunning(thread, $parent.$index, $index)">X</span></td>
        </tr>
        <tr>
            <td></td>
            <td ng-repeat="i in getNumber(LCM) track by $index">{{$index}}</td>
        </tr>
    </table>
</div>